@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Montserrat&family=Open+Sans&family=Poppins&display=swap');

*{
    font-family: 'Inter', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.burger-button{
    border-radius: 10px;
}
.navcontact{
    display: flex;
    align-items: center ;
}
a{
    text-decoration: none;
    color: black;
}
.red-border{
    border-bottom: 5px solid red;
}
.green-border{
    border-bottom: 5px solid #2EC4B6;
}
.mobileMenu{
    display: none;
}

.text-underline{
    text-decoration: underline;
}
.herobackground{
    background-image: url('../img/banner_bg.png');
    /* height: 100vh;  */
    background-position: center;
    background-size: cover;
}
nav, .navlists, .navinfo{
    display: flex;
}
.logo h3{
    color: #E71D36;
    font-size: 50px;    
}
nav{
    justify-content: space-between;
    align-items: center;
}
.navlists{
    display: flex;
    padding-right: 40px;
    margin: 10px 0;
    cursor: pointer;
}
.navlist:hover{
    border-bottom: 2px solid red;
}
.navlist{
    margin-left: 35px;
    border-bottom: 2px solid transparent;
    padding: 10px 0;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.hero{
    display: flex;
    align-items: center;
}
.heroimage img{
    width: 100%;
    height: auto;
}
.contactbutton a{
    background-color: red;
  padding: 10px 20px;
  border-radius: 100px;
  color: white;
}
.heroinfo span{
    color: #E71D36;
}
.heroinfo h3{
    font-size: 50px;
}
.heroinfo{
    line-height: 65px;
    text-transform: uppercase;
}
.heroinfoheading, .heroinfocontent{
    padding: 15px 0;
}
.heroinfocontent h3{
    font-weight: 400;
}
.heroinfoheading h3{
    font-weight: 600;
}
.watchvideo{
    color: #E71D36;
}
.getstartedbtn a{
    background-color: red;
    padding: 10px 20px;
    border-radius: 100px;
    color: white;
}
.watchvideo a{
    color: #E71D36;
}
.heroinfonavigation{
    display: flex;
    align-items: center;
    padding: 40px 0px;
}
.getstartedbtn , .watchvideo{
    padding-right: 15px;
}
.watchvideo{
    display: flex;
  align-items: center;
}
.watchvideo img{
    padding-right: 10px;
}
.watchvideo a{
    text-decoration: underline;
}
.headingfeatured h3, .blogs h3{
    text-align: center;
    font-size: 40px;
}
.featuredclientimg img{
    width: 100%;
    height: auto;
}
.headingfeaturedclient{
    display: flex;
}
.featuredclientimg{
    padding: 0 10px;
}
.headingfeatured , .blogs{
    padding: 60px 0;
}
.getintouch{
    display: flex;
    max-width: 1300px;
    margin: 0 auto;
    width: 100%;
    background-color: #2EABC40F;
    border: 1px solid gray;
  border-radius: 10px;
}
.contactimage, .contactform{
    width: 45%;
}
.contactimage img{
    width: 100%;
    padding: 20px;
    height: auto;
}
.contactformtext h3{
    padding: 20px 0px;
    font-size: 40px;
}
.contactformtext p{
    padding: 20px 0px;
}
.contactforminput1{
    display: flex; 
    width: 100%;
}
.contactform{
    max-width: 40%;
  margin: 0 auto;
}
.firstname, .email{
    width: 50%;
}
.firstname{
    padding-right: 10px;
}
.email{
    padding-left: 10px;
}
.businessname, .phonenumber, .message{
    width: 100%;
}
.form-input{
    display: flex;
  flex-direction: column;
}
.form-input-outline{
    padding: 18px;
  border-radius: 5px;
  border: 1px solid #80808042;
}
.phonenumber select{
    border-right: none;
  border-radius: 5px 0 0 5px;
  background: transparent;
}
.phonenumber input{
    border-left: none;
    border-radius: 0px 5px 5px 0px;
}
#phone{
    width: 100%;
}
.termsandconditions{
    display: flex;
    padding: 20px 0;
}
.butttonsubmit{
    text-align: center;
    margin: 20px;
}
.butttonsubmit a{
    background-color: #2EC4B6;
    padding: 15px 50px;
    color: white;
    border-radius: 10px;
}
.termsandconditions, .contactforminput1 , .contactforminput2 , .contactforminput3 , .contactforminput4{
    padding: 10px 0 ;
}
.terms p{
    padding-left: 10px;
}
.inputcheck input{
    cursor: pointer;
}
marquee{
    padding: 20px 0;
}
.blogposts{
    display: flex;
    /* width: calc(50% - 30px); */
    width: 48%;
    background-image: linear-gradient(to right, #fff8f8, #fff8f8);
    border: 2px solid #8080802e;
  border-radius: 20px;
  margin: 10px 10px;
}
.blogposts .blogreadmore a{ 
    color: #E71D36;
}
.blogreadmore{
    display: flex;
    align-items: center;
}
.blogreadmore img{
    padding: 0 10px;
}
.blogposts-green .blogreadmore a{ 
   color: #2EC4B6;
}
.blogposts-green{
    display: flex;
    /* width: calc(50% - 30px); */
    width: 48%;
    background-image: linear-gradient(to right, #fff8f8,#f8fffe);
    border: 2px solid #8080802e;
  border-radius: 20px;
  margin: 10px 10px;
}
.blogpost img{
    border-radius: 20px;
    /* border-bottom: 5px solid red; */
}
.blogpost{
    padding: 5px;
}
.blogscontainer{
    display: flex;
    justify-content: space-between;
    width: 100%;
  flex-wrap: wrap;
  margin-top: 80px;
}
.blogs{
    flex-wrap: wrap;
}
.blogtitle h3{
    text-align: start;
    font-size: 20px;
}
.blogtext > * {
    padding: 15px 15px;
}
.danger{
    font-size: 12px;
    color: red;
}
.firstname_danger, .email_danger , .business_danger , .phone_danger , .message_danger{
    display: none;
}
.sizedbox{
    width: 0%;
}
.mobileMenu{
    height: 50px;
    
}
    .list-goals li {
        margin-bottom: 1rem;
        background: url(../img/disc.svg) no-repeat left top;
        padding: 0px 0 3px 24px;
        list-style: none;
        font-size: 18px;
    }
    .list-goals{
        padding: 20px 0;

    }
    .projectHead > div:nth-child(1) ,  .audienceHead > div:nth-child(1){
        font-size: 25px;
        padding: 10px 0;
    }
    .audienceHead> div:nth-child(1) {
        color : #FF1D03;    
    }
    .projectHead> div:nth-child(1) {
        color: #2EC4B6;;
    }
    .btn a {
        background-color: #2EC4B6;
        padding: 15px 50px;
        color: white;
        border-radius: 10px;
        min-width: 100px;
        display: inline-block;
        width: auto;
        text-decoration: none; 
        box-shadow: 0px 4px 12px 0px rgba(46, 196, 182, 0.48);

    }
    .btn div a {
        cursor: pointer;
    }
    
    .btn{
        margin: 25px 0;
    }
.row{
    width: 100%;
}
.col{
    width: 50%;
}
.d-flex{
    display: flex;
}
.businessgrowthinfo , .businessgrowthlists{
    width: 50%;
}
.businessgrowthinfo{
    padding-right: 100px;
    margin-top: 50px;
}
.businessgrowthinfo h3{
    font-weight: 500;
    letter-spacing: 0.6;
    font-size: 30px;
    text-transform: uppercase;
    padding: 25px 0;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.businessgrowthinfo p{
    line-height: 30px;
    padding: 10px 0;
    font-size: 18px;
}
.businessgrowthlists{
    display: flex;
    /* flex-wrap: wrap; */
}
.left, .right{
    padding: 0 10px;
}
.right{
    margin-top: 100px;
}
.left{
    margin-bottom: 100px;
}
.growthkey{
    width: 100%;
    /* border: 1px solid; */
    border-image: linear-gradient(#FF1D03, #ffffff) 90;
    padding: 20px;
    /* border-radius: 15px; */
    /* margin: 5px; */
    filter: drop-shadow(0px 4px 13px rgba(0,0,0,0.06));
    background-color: white;
    border-radius: 9px;
}
.growthkey-green{
    width: 100%;
    /* border: 1px solid; */
    border-image: linear-gradient(#2ec4b6, #ffffff) 90;
    padding: 20px;
    /* border-radius: 15px; */
    /* margin: 5px; */
    filter: drop-shadow(0px 4px 13px rgba(0,0,0,0.06));
    background-color: white;
    border-radius: 9px;
}
.businessgrowth{
    margin: 20px 0;
}
.section{
    padding: 50px 0;
}
.growthkey > *, .growthkey-green > *{
    padding: 10px 0;
}
.growthkey-green a{
    color: #2EC4B6;
    cursor: pointer;

}
.growthkey a{
    color: #FF1D03;
}
.grwrap {
    background-image: linear-gradient(to bottom, #FF1D03, #ffffff); /* Linear gradient from top to bottom */
    padding: 1px;
    border-radius: 10px;
    margin: 20px 0; 
}
.grwrap-green {
    background-image: linear-gradient(to bottom, #2ec4b6, #ffffff); /* Linear gradient from top to bottom */
    padding: 1px;
    border-radius: 10px;
    margin: 20px 0; 
}
.footers{
    display: flex;
    width: 100%;
}
.footerlogo{
    width: 50%;
}
.footermenu{
    width: 20%;
}
.footernews{
    width: 30%;
}
.footermenu > *{
    padding-bottom: 10px;
}
.footermenu h3, .footernews h3{
    color: #2EC4B6;
    font-weight: 400;
    padding-bottom: 20px;
}
.newsinfo h3{
    color: #2EC4B6;
    font-weight: 400;
    padding-bottom: 5px;
}
.footercopyrihgt{
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
}
.newsimg img{
    width: 100%;
    height: auto;
}
.colorb{
    color: #2EC4B6;
}
.newsimg{
    width: 25%;
}
.newsinfo{
    width: 75%;
    padding-left: 20px;

}
.newsdate li {
    list-style-position: inside;
}
.logoinfo{
    padding: 0 0 30px 0px;
    line-height: 30px;
    padding-right: 279px;
}
.newsdate li{
    /* list-style: none; */
    color: #E71D36;
}
.pb-10{
    padding-bottom: 10px;
}
.newsdes{
    padding: 5px 0;
  font-size: 12px;
  line-height: 20px;
}
.newsdate{
    font-size: 10px;
    letter-spacing: 0.55px;
}
.socialicon{
    cursor: pointer;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.social{
    cursor: pointer ;
}
@media only screen and (max-width: 1024px) {
    .logoinfo{
        padding-right: 10px;
    }
    .blogposts, .blogposts-green{
        width: 100%;
    }
}

/* //tab view  */

@media only screen and (max-width: 768px) {
    .footercopyrihgt{
        flex-direction: column;
        font-size: 12px;
    }
    .footercopyrihgt > *{
        padding: 5px 0 ;

    }
    .logoinfo{
        padding: 20px 0;
        line-height: 30px;
        padding-right: 10px;
    }
    .hidden{
        display: none;
    }
    .slide-bottom {
        background-color: white;
        overflow: hidden;
  position: relative;
  top: 0;
        -webkit-animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
                animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }
@-webkit-keyframes slide-bottom {
    0% {
              height: 0px;
    }
    100% {
             height: 100vh;
    }
  }
  @keyframes slide-bottom {
    0% {
        height: 0px;
}
100% {
       height: 100vh;
}
  }
  
    .heroinfo, .heroinfoheading, .heroinfocontent{
        text-align: center;

    }
    .heroinfonavigation{
        display: flex;
        justify-content: center;
    }
   
    .contactforminput1{
        display: flex; 
        /* width: calc(100% - 20px); */
    }
   nav, .navinfo, .navlists{
    flex-direction: column !important;
   }
   nav{
    text-align: start;
    align-items: flex-start;
   }
   .navinfo{
    padding: 0 0 20px 20px;
}
   .mobileMenu{
    /* padding: 20px; */
    display: block;
    display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-end;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
   }
   .mobileMenu button{
    padding: 10px 20px;
    border: none;
    cursor: pointer;
   }
   .hero{
    flex-direction: column;
}
   .navcontact{
    padding: 20px 0;

   }
   .navlist{
    padding: 10px 0;
   }
   .blogposts{
    width: 100%;
  } 
  .blogposts-green{
    width: 100%;
  } 
  .getintouch {
    flex-direction: column;
  }
  .contactimage, .contactform{
    width: 100%;
}
.contactform{
    width: 100%;
}
.contactform {
    max-width: 100%;
    margin: 0 auto;
  }
  .firstname{
    padding-right: 0px;
  }
  .email{
    padding-left: 0px;
  }
  .contactimage img {
    padding: 0px;
  }
  .hide-mobile{
    display: none;
  }
  .heroinfo{
    padding-top: 20px;

  }
  .heroinfo h3{
    font-size: 40px;
  }
  .d-flex{
    display: flex;
    flex-direction: column;
}
.flex-direction-row{
    flex-direction: row !important;
}
.businessgrowthinfo, .businessgrowthlists{
    width: 100%;
}
.footers{
    display: flex;
    flex-direction: column  ;
    width: 100%;
}
.footerlogo{
    width: 100%;
    padding: 10px 0;
}
.footermenu{
    width: 100%;
    padding: 10px 0;

}
.footernews{
    width: 100%;
    padding: 10px 0;
}
.businessgrowthinfo{
    padding-right: 0;
}

  }
  
  /* //mobile */

  @media only screen and (max-width: 320px) {
        .blogposts{
            flex-direction: column;
        }
    nav, .navinfo, .navlists{
     flex-direction: column !important;
    }
    .navcontact{
     padding: 20px 0;
    }

    .navlist{
     padding: 10px 0;
    }
    .hero{
        flex-direction: column-reverse;
    }
    .getintouch{
        flex-direction: column;
    }
    .contactimage, .contactform{
        width: 100%;
    }
    .contactform{
        width: 100%;
    }
    .contactform {
        max-width: 100%;
        margin: 0 auto;
      }
      .firstname{
        padding-right: 0px;
      }
      .email{
        padding-left: 0px;
      }
      .heroinfo h3{
        font-size: 20px;
      }
      .heroinfo{
        line-height: 30px;
        padding-top: 20px;
      }
     
   }